.mymetadata
.recommenders
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
.mvn
/bin
.springBeans
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
.metadata
RemoteSystemsTempFiles/*